{% extends 'patientnavbar.html' %} <!-- it will inherit the base.html file -->

{% block title %}Book Appointment{% endblock %}

{% block content %}
    <div class="containter mt-5">
        <form class="col-4 mx-auto card p-3 shadow" method="post">
            {% csrf_token %}
            <h3 align="center">Book Appointment</h3>
            <hr>
            <div class="mb-3" style="display: none;">
                <label class="form-label">First Name:</label>
                <input type="text" required class="form-control" value="{{ CustomUser.first_name }}" name="txtFirstName">
            </div>
            <div class="mb-3" style="display: none;">
                <label class="form-label">Last Name:</label>
                <input type="text" required class="form-control" value="{{ CustomUser.last_name }}" name="txtLastName">
            </div>
            <div class="mb-3">
                <label class="form-label">Required Speciality:</label>
                <input type="text" required class="form-control" name="txtSpeciality">
            </div>
            <div class="mb-3">
                <label class="form-label">Date of Appointment:</label>
                <input type="date" required class="form-control" name="txtAppointmentDate">
            </div>
            <div class="mb-3">
                <label class="form-label">Start Time of Appointment:</label>
                <input type="time" required class="form-control" name="txtStartTime">
            </div>
                <button type="submit" class="btn btn-success">Confirm Appointment</button>
          </form>       
    </div>
{% endblock %}