{% extends 'doctornavbar.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}
<div class="containter mt-5">
    <div class="col-4 mx-auto card p-3 shadow">
    <h3 align="center">Appointments</h3>
    <hr>
    {% for i in appointment %}
    <p align="center">Specialist: {{ i.speciality }}</p>
    <p align="center">Appointment Date: {{ i.appointment_date }}</p>
    <p align="center">Appointment Start Time: {{ i.appointment_time }}</p>
    <p align="center">Appointment End Time: {{ i.end_time }}</p>
    <hr>
    {% endfor %}
    </div>
</div>    
{% endblock %}