{% extends 'patientnavbar.html' %}

{% block title %}Doctors List{% endblock %}

{% block content %}
<div class="containter mt-5">
    <div class="col-4 mx-auto card p-3 shadow">
    <h3 align="center">List of All Doctors</h3>
    <hr>
    {% for i in Doctors %}
    <p align="center">Image: <img src="/media/{{ i.profile_picture }}" style="height: 100px;" class="rounded border-dark"></p>
    <p align="center">First Name: {{ i.first_name }}</p>
    <p align="center">Last Name: {{ i.last_name }}</p>
        <a href="{% url 'book_appointment' i.id %}" class="btn btn-primary">Book Appointment</a>
    <hr>    
    {% endfor %}
    </div>
</div>    
{% endblock %}