{% extends 'patientnavbar.html' %}

{% block title %}Patient Home{% endblock %}

{% block content %}
<div class="containter mt-5">
    <div class="col-4 mx-auto card p-3 shadow">
    <h3 align="center">Welcome User To Your Patient Profile</h3>
    <hr>
    <p align="center">First Name: {{ UserDetails.first_name }}</p>
    <p align="center">Last Name: {{ UserDetails.last_name }}</p>
    <p align="center">Username: {{ UserDetails.username }}</p>
    <p align="center">Email: {{ UserDetails.email }}</p>
    <p align="center">Address: {{ UserDetails.address }}</p>
    <p align="center">Lane: {{ UserDetails.lane }}</p>
    <p align="center">City: {{ UserDetails.city }}</p>
    <p align="center">State: {{ UserDetails.state }}</p>
    <p align="center">Pincode: {{ UserDetails.pincode }}</p>
    <p align="center">Image: <img src="/media/{{ UserDetails.profile_picture }}" style="height: 100px;" class="rounded border-dark"></p>

    </div>
</div>    
{% endblock %}